*,html{
    margin: 0;
    padding: 0;
}

/* BACKGROUND*/

body {
    background-image: url(foto/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
}

/* HOME + NAVBAR*/

.navbar {
    background-color: #333;
    opacity: .5; 
    overflow: hidden;
    margin-top: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left; 
}

.navbar ul li a {
    display: block;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 15px 25px 15px 40px;
    transition: all 0.3s;
}

.navbar ul li a:hover {
    background-color: #ddd; 
    color: black;
}


.home_text {
    text-transform: uppercase;
    text-align: left; 
    margin-top: 250px; 
    margin-left: 25px;
}

.home_text h4 {
    font-size: 13px;
}

.home_text h1 {
    font-size: 40px;
}

.home_text h2 {
    font-size: 30px;
    margin-left: 1px;
    margin-bottom: -5px;
}

/* GALLERY */

.img {
    text-align: center; 
    margin-top: 20px; 
}

.img img {
    width: 330px;
    height: 220px; 
    margin: 10px; 
    transition: 0.5s;
}

.img img:hover {
    width: 360px;
    height: 240px; 
}

.gallery_text {
    text-align: center; 
    margin-top: 40px;
    margin-bottom: 80px;
}

/* BLOG */

.teks1, .teks2, .teks3 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.teks1 h1, .teks2 h1, .teks3 h1 {
    margin-bottom: 10px;
    color: #000000;
}

.teks1 p, .teks2 p, .teks3 p {
    color: #666;
}


/*CONTACT*/

.button {
    font-size: 15px;
    margin-left: 3px;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 150x;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.name {
    margin-top: 50px;
    margin-left: 3px;
}

.message {
    margin-left: 3px;
    margin-bottom: 3px;
}

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-left: 3px;
  }

  input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 15px 40px;
  margin-top: 20px;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}